:8080 {
    encode zstd gzip

    request_body {
        max_size 10MB
    }

    header {
        X-Content-Type-Options nosniff
        X-Frame-Options DENY
        Referrer-Policy no-referrer
        -Server
    }

    reverse_proxy biolab:8000
}
